@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-gradient-x {
    background-size: 200% 200%;
    animation: gradient-x 8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

:root {
  --foreground: #ffffff;
  --background: #1C1C27;
}

@layer base {
  body {
    @apply bg-background text-white;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}